:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-style: normal;
  line-height: 3.6rem;
  color: #f1f1f1;

  width: 117vw;
  height: 100vh;
  overflow: hidden;

  background-image: url(./assets/BG.png);
  background-repeat: repeat;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

aside {
  height: 100%;
  width: 50%;
  display: flex;
  background-size: 40%;
  position: relative;
  z-index: -1;
  justify-content: center;
  text-align: left;
}

aside p {
  max-width: 70%;
  font-weight: 500;
  font-size: 2.4rem;
  text-align: justify;
  line-height: 3.6rem;
  color: #151515;
  margin-top: min(20%, 30rem);
}

#bg {
  position: absolute;
  z-index: -1;
  width: 58%;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0.1;
}

#shape {
  position: absolute;
  top: 0;
  bottom: 0;
  right: min(0%, -16rem);
  z-index: -1;
}

.form {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-right: min(10%, 20rem);
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 50rem;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 7.1rem;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 5.6rem;
}

label {
  font-size: 1.8rem;
  line-height: 2.9rem;
  margin-bottom: 0.8rem;
  margin-left: 3rem;
}

::placeholder {
  opacity: 0.4;
}

:where(input, textarea) {
  padding-block: 1.3rem;
  padding-inline: 2rem;
  border: none;
  border-radius: 30px;
  background: #f1f1f1;
  margin-bottom: 4.3rem;
}

textarea {
  padding: 2rem;
}

form input:nth-child(5) {
  height: min(20rem, 35rem);
}

form button {
  padding: 0.4rem;
  font-weight: 800;
  font-size: 2.2rem;
  color: #01a884;

  border-radius: 999999px;
  border: none;
  cursor: pointer;
  padding-block: 1.4rem;
}

/* responsivibility */

@media (min-width: 360px) {
  body {
    width: 100vw;
  }

  .wrapper {
    flex-direction: column-reverse;
    padding: 3.5rem;
  }

  #shape {
    display: none;
  }

  aside {
    width: 100%;
  }

  aside p {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 0;
  }

  h1 {
    font-size: 2rem;
    color: #01a884;
    margin-bottom: 0;
    margin-top: 4rem;
  }

  .form {
    width: 100%;
    margin-inline: auto;
  }

  label {
    color: black;
    font-size: 1.2rem;
  }

  :where(input, textarea, button) {
    background: #01a884;
    color: white;
  }

  ::placeholder {
    color: white;
    opacity: 0.7;
  }

  form button {
    color: white;
    font-size: 1.4rem;
    padding-block: 0.8rem;
  }
}

@media (min-width: 370px) {
  h1 {
    font-size: 2.3rem;
  }
}

@media (min-width: 400px) {
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 700px) {
  h1 {
    font-size: 4rem;
    margin-bottom: 4rem;
  }

  aside p {
    font-size: 2rem;
    line-height: 3rem;
  }

  form {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  body {
    width: 117vw;
    overflow-y: scroll;
  }

  .wrapper {
    flex-direction: row;
  }

  h1 {
    font-size: 3rem;
    color: #f1f1f1;
  }

  aside p {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  #shape {
    display: block;
  }

  :where(input, textarea, button) {
    background: #f1f1f1;
    color: black;
  }

  label {
    color: #f1f1f1;
  }

  ::placeholder {
    color: black;
    opacity: 0.4;
  }

  form {
    max-width: 50rem;
  }

  form button {
    color: #01a884;
    font-size: 2.2rem;
    padding-block: 1.4rem;
  }
}

@media (min-width: 1000px) {
  body {
    overflow-y: hidden;
  }

  #shape {
    right: min(-10%, -42rem);
  }

  .form {
    scale: 0.8;
    margin-right: min(15%, 20rem);
  }
}

@media (min-width: 1200px) {
  #shape {
    right: min(-10%, -27rem);
  }

  .form {
    scale: 1;
  }
}

@media (min-width: 1400px) {
  #shape {
    right: min(-10%, -16rem);
  }
}

@media (min-width: 1700px) {
  #shape {
    right: min(-0%, -5rem);
  }

  .form {
    margin-right: min(15%, 25rem);
  }
}
